<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="about">
    <p>We are a small but growing online seller of various goods.</p>
    <p>Created in 2020</p>
  </div>

</section>
